<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSIAfterburner.Monitoring.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSIAfterburner.Monitoring.Sample.Properties.Settings>
            <setting name="SensorNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Test Sensor 1</string>
                        <string>Test Sensor 2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SensorValues" serializeAs="Xml">
                <value>
                    <ArrayOfFloat xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <float>42</float>
                        <float>69</float>
                    </ArrayOfFloat>
                </value>
            </setting>
        </MSIAfterburner.Monitoring.Sample.Properties.Settings>
    </userSettings>
</configuration>